body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin:0;
  margin: 0 auto;
}
.header{
  padding:8px 16px ;
  margin:0 auto;
  width: 90%;
  
  box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 10px 10px;
  @media (min-width:1024px) {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: nowrap;
  }

}
.header-column1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width:1024px){
    flex-direction: row;
    justify-content: space-between;
  }
}
.header-image{
  padding:15px 0;
  margin-left:15px;
  width: 60px;
}

.fa-bars{
    font-size: 18px;
    color:black;
    align-items: center;
    margin-top: 15px;
    @media (min-width:1024px){
        display: none;
    }
  
}
.header-column2{
    @media (min-width:1024px) {
        display: flex;
        flex-direction: column;
    }
}
.nav-item{
  list-style: none;
}
.navbar{
  display: none;
  flex-direction: column;
  gap: 20px;
  padding: 10px 15px;
  text-align: center;
  @media (min-width:1024px){ 
    display: flex;
    flex-direction: row;
  }
  &.show{
    display: flex;
  }
}
.nav-link{
  text-decoration: none;
  color: #222;
  font-size: 13px;
  letter-spacing: 1px;
  margin:15px 7px;
  font-weight: 400;
}
.fa-angle-down{
  font-size: 10px;
  margin-right: 7px;
}
.hidden{
  display: none;
}
.dropdown{
  position: relative;
}
.dropdown-menu{
  position: absolute;
  z-index: 9;
  top: 40px;
  width: 160px;
  background-color: #fff;
  
}
.dropdown-item{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px 25px;
  color: #212529;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
  &:hover{
    color: #fb8133;
    margin-left: 10px;
  }
}
.nav-link-button{
  background-color: #fb8133;
  padding:10px 30px;
  margin:15px 7px 15px 15px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  &:hover{
    border: 1.3px solid #fb8133;
    background-color: white;
    color:#fb8133;
  }
}